@import "bootstrap.scss";

#topbar {    
    background-color: #000;
}


#navbar {    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 10000;
}

html, body {
    overflow: hidden;
}
.type-doc {
    #content, #sidebar, #aside  {
        overflow-y: scroll;
        height: calc(100vh - 60px);
    }

}




.side-menu {
    .active {
        font-weight: bold;
    }
    div div {
        padding-left: 10px;
    }
}


#sidemenu {
    a.active {
        font-weight: bold;
    }
    nav nav {
        padding-left: 12px;
    }

    >nav a{
      text-decoration: underline;   
 
    }
    nav nav a {
        text-decoration: none;   
      }    

    
}