<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    <head>
        {{ partial "headers.html" . }}
        {{ partial "headers_custom.html" . }}
    </head>

    <body>
        
        {{ partial "top.html" . }}
        {{ partial "nav.html" . }}
  

        <main id="main">
            <div class="container{{ if .Site.Params.page.fluid }}-fluid{{ end }}">
                <div class="row">
                    {{ if or (eq .Type "docs") (eq .Type "docs/doc" ) (eq .Type "version" ) }}
                    <div class="col-3">
                        {{ block "sidemenu" . }} {{ end }}                     
                    </div>
                    <div class="col-9">
                        <div id="content">
                            {{ block "main" . }}{{ end }}
                        </div>
                    </div>
                    {{ else }}
                    <div class="col">
                        <div id="content">
                         {{ block "main" . }}{{ end }}
                        </div>
                    </div>
                    {{ end }} 
                    </div>
            </div>
        </main>

   
        {{ partial "scripts.html" . }}
        {{ partial "footer.html" . }}           
        {{ partial "copyright.html" . }}           



    </body>

</html>