<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
    <head>{{ partial "head.html" . }}</head>
    <body class="body-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }} type-{{.Type}}">
      {{ partial "nav.html" . }}
        <main id="main">
            <div class="main-container container{{ if .Site.Params.page.fluid }}-fluid{{ end }}">
                <div class="row">    
                    {{ block "main" . }} {{ end }}     
                </div>
            </div>
        </main>
        {{/* partial "footer.html" . */}}           
        {{/* partial "copyright.html" . */}} 
        <script src="{{ "js/jquery/jquery.min.js?v=v3.6.1" | relURL }}"></script>
        <script src="{{ "js/bootstrap/bootstrap.bundle.min.js?v=v5.2.3" | relURL }}"></script>
        <script src="{{ "js/scrollbar/scrollbar.js?v=7x" | relURL }}"></script>
        {{ if eq .Site.Params.searchengine "fuse" }}
        <script src="{{ "js/fuse/fuse.min.js?v=v3.2.0" | relURL }}"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script> -->
        <script src="{{ "js/jquery/jquery.mark.min.js?v=v8.11.1" | relURL }}"></script>
        {{ end }}
        {{ block "doc-search-scripts" . }}{{ end }}        
        {{ block "scripts" . }}{{ end }}          
    </body>

</html>