<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    <head>
        {{ partial "headers.html" . }}
        {{ partial "headers_custom.html" . }}
    </head>

    <body>
        
        {{ partial "top.html" . }}
        {{ partial "nav.html" . }}

        <main>
            <div class="container{{ if .Site.Params.page.fluid }}-fluid{{ end }}">
                <div class="row">
                    <div class="col-3">

                        {{ partial "sidemenu.html" . }}
                     
                    </div>
                    <div class="col-9">
          


                        {{ .Content }}                           
                    </div>
                </div>
            </div>
        </main>

        {{ partial "scripts.html" . }}
        {{ partial "footer.html" . }}           
        {{ partial "copyright.html" . }}           
    </body>

</html>