
        <!-- Bootstrap Bundle with Popper -->
        <script src="{{ "js/jquery/jquery-3.6.1.min.js" | relURL }}"></script>
        <script src="{{ "js/bootstrap/bootstrap.bundle.min.js" | relURL }}"></script>


        <script>
  

            $( document ).ready(function() {
                $(window).on('popstate', function() {
                        loadContent(location.pathname);
                });

                function loadContent(url) {
                        $('#main').load(url + ' #main');
                }

                $( ".ajax-call" ).click(function(event) {
                        var This = this;
                        var url = $(this).attr('href');
                        event.preventDefault();
                        $( "#content" ).load( url + ' #content', function(data, ret) {
                           if (ret == 'success') {                 
                                $(".side-menu .ajax-call").removeClass( "active" );
                                $(This).addClass( "active" );

                                history.pushState({}, "", url);

                           }
                        });


                  
                      //  console.log($(this).attr('href'));
                      //  $("#content").load($(this).attr('href') + ' #content');
                        
                       // console.log("etst");
                  });

            });
            	
          
            /*

            function loadPage(newUrl) {
                var httpRequest = new XMLHttpRequest();
                httpRequest.onreadystatechange = function() {
                  if (httpRequest.readyState !== XMLHttpRequest.DONE)
                    return;
              
                  var newDocument = httpRequest.responseXML;
                  if (newDocument === null)
                    return;
              
                  var newContent = httpRequest.responseXML.getElementById("content");
                  if (newContent === null)
                    return;
              
                  document.title = newDocument.title;
              
                  var contentElement = document.getElementById("content");
                  contentElement.replaceWith(newContent);
                }
              
                httpRequest.responseType = "document";
                httpRequest.open("GET", newUrl);
                httpRequest.send();
              };

            window.onload = function() {
                // Make links load asynchronously
                document.body.addEventListener("click", function(event) {
                  if (event.target.tagName !== "A")
                    return;
              
                  // History API needed to make sure back and forward still work
                  if (history === null)
                    return;
              
                  event.preventDefault();
              
                  // External links should instead open in a new tab
                  var newUrl = event.target.href;
                  var domain = window.location.origin;
                  if (typeof domain !== "string" || newUrl.search(domain) !== 0) {
                    window.open(newUrl, "_blank");
                  } else {
                    loadPage(newUrl);
                    history.pushState(null, "", newUrl);
                  }
                });

              }
*/
        </script>