<div class="ci-search ci-component-section">    
    <div class="col-auto">
        <label for="search" class="visually-hidden">Search in Doc</label>
        <input type="input" class="form-control" id="doc-search" placeholder="Search in Doc">
    </div> 
    <div class="col-auto mt-2 show-on-search">
        <button class="btn btn-primary" type="button" id="doc-search-cancle" ><i class="bi bi-backspace"></i> Back</button>
    </div>      
</div> 



<script id="doc-search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
      ${ isset tags }<p>Tags: ${tags}</p>${ end }
      ${ isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
</script>
{{- $root :=  partial "doc/helper/get-doc-root" . -}}
{{- partial "components/search/script" $root   }} 



